$nyuteal: #008996;
$nyu-purple: #57068c;
$nyugray1: #4a4f55;
$nyugray2: #939a90;
$lightgray: #cdc4e1;
$nav-link-color: $nyu-purple;

.nav-links {
  ul {
    margin: 0 auto;
    display: inline-block;
    padding-left: 0;

    li {
      display: inline-block;
      color: $nav-link-color;
    }

    li:not(:first-child)::before {
      content: '\2022';
      padding: .4em;
    }
  }

  a:link,
  a:visited {
    color: $nav-link-color;
    letter-spacing: .2px;
    text-decoration: none;
  }
}
