@charset "utf-8";
// use this index standard in replacement of _all.scss root file

// not used in current search application

// @import "breadcrumb.scss"; // not used in current search application
// @import "card.scss"; // not used in current search application
// @import "dropdown.scss";
// @import "level.scss";
// @import "media.scss";
// @import "menu.scss";
// @import "message.scss";
// @import "modal.scss";
// @import "navbar.scss";
// @import "pagination.scss";
// @import "panel.scss";
// @import "tabs.scss";
